<h2>{{postData.title}}</h2>
<p>{{postData.contents}}</p>
<p>By {{postData.username}} on {{postData.date}}</p>

<h4>Comments:</h4>
{{#each commentData as |comment|}}
    <p>{{comment.contents}}</p>
    <p>By {{comment.username}} on {{comment.date}}</p>
{{/each}}
<button onclick="window.location.href='/post/{{postData.id}}/comment';">New Comment</button>

