<h2>{{postData.title}}</h2>
<p>{{postData.contents}}</p>
<p>By {{postData.username}} on {{postData.date}}</p>

<button onclick="window.location.href='/dashboard/post/{{postData.id}}/update';">Update Post</button>
<button class="delete-button {{postData.id}}" id="delete-button">Delete Post</button>

<script src="/js/deletePost.js"></script>